  {% assign filters = posts | searchFilterCategories | searchFiltersSort | uniq %}

  <div class="hidden md:flex space-x-2 items-center">
    <label class="pr-4 text-sm">Topic</label>
    {% for filter in filters %}
      {% include "filter.liquid" %}
    {% endfor %}
  </div>

  <div class="md:hidden flex w-full items-center">
    <label class="pr-4 text-sm">Topic</label>
    <select onchange="setFilter(this.value)" class="w-full px-4 py-2 bg-gray-200">
      {% for filter in filters %}
        {% include "filter_option.liquid" %}
      {% endfor %}
    </select>
  </div>